# Coursera Capstone Project - Week3 - Activity 1

Created canada.csv file from postal code table details in wiki page https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M

In [1]:
#Importing libraries 
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests

### Importing csv to dataframe

In [2]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
wiki_html = requests.get(url).text
soup = BeautifulSoup(wiki_html, 'html.parser')

data = []
for tr in soup.tbody.find_all('tr'):
    data.append([ td.get_text().strip() for td in tr.find_all('td')])

The dataframe will consist of three columns: PostalCode, Borough, and Neighborhood

In [3]:
df = pd.DataFrame(data, columns=['PostalCode','Borough','Neighborhood'])

Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.

In [4]:
df.dropna(inplace = True)

More than one neighborhood can exist in one postal code area. For example, in the table on the Wikipedia page, you will notice that M5A is listed twice and has two neighborhoods: Harbourfront and Regent Park. These two rows will be combined into one row with the neighborhoods separated with a comma as shown in row 11 in the above table.

In [5]:
df = df[(df.Borough != 'Not assigned') ]
df.head()
def list_neighborhood(grouped):    
    return ', '.join(sorted(grouped['Neighborhood'].tolist()))
                    
df_final = df.groupby(['PostalCode', 'Borough']).apply(list_neighborhood).reset_index(name='Neighborhood')
df_final.head()

  PostalCode      Borough                            Neighborhood
0        M1B  Scarborough                          Malvern, Rouge
1        M1C  Scarborough  Highland Creek, Port Union, Rouge Hill
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough. So for the 9th cell in the table on the Wikipedia page, the value of the Borough and the Neighborhood columns will be Queen's Park.

In [6]:
df_final.loc[df_final['Neighborhood'] == 'Not assigned', 'Neighborhood'] = df_final['Borough']
df_final[df_final.Borough == 'Queen\'s Park']

   PostalCode       Borough  Neighborhood
85        M7A  Queen's Park  Queen's Park

In [7]:
df_final.head()

  PostalCode      Borough                            Neighborhood
0        M1B  Scarborough                          Malvern, Rouge
1        M1C  Scarborough  Highland Creek, Port Union, Rouge Hill
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

In the last cell of your notebook, use the .shape method to print the number of rows of your dataframe.